.product_box {
    width: 578px;
    height: 309px;
    padding: 33px;
    box-shadow: 0 0 10px gray;
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.product_detail {
    width: 240px;
}

.product_detail h3{
    font-size: 32px;
    color: #E60004;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product_detail p{
    font-size: 18px;
    margin-bottom: 15px;
}

.product_detail .price{
    font-size: 24px;
    font-weight: bold;
    color: #E60004;
    margin-bottom: 60px;
}

.product_detail a{
    padding: 15px 40px;
    background-color: #E60004;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}